<div class="about-main">
  <h2>陰キャ革命とは</h2>
  
   
  陰キャという言葉は、、、
   <br>
   主にインターネット上で使われる俗語で
   <br>
   社交的でない内向的な性格を持つ人を指すことがあります。
   <br>
   ただし、この言葉は<h3>批判的なニュアンス</h3>を含むことがあるため
   <br>
   使う際には相手の気持ちを考えることが重要です。
   <br>
   果たして批判的なニュアンスなのだろうか?内向的性格なのだろうか?
   <br>
   ここについて当サイトは考えていこうと思う。
   <br>
   参考 Chat_GPT 3.5

</div>