<footer id='footer' class='footer-bottom'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-6 col-12'>
          <div class='copyright'>
          <a href="https://twitter.com/intent/tweet?text=陰キャ革命%20%23RUNTEQ%20%23陰キャ" target="_blank">陰キャ実験場</a>
          </div>
        </div>
      </div>
    </div>
  </footer>